.loader {
    //position: fixed;
    //width: 100%;
    //height: 100%;
    z-index: 9;
}

.loader-content {
    width: 64px;
    height: 64px;
    overflow: auto;
    margin: auto;
    //position: absolute;
    z-index: 10;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: url('../img/loader/loader.gif');
}
#main {
    min-height: 450px;
}