<!doctype html>
<html lang="en" ng-controller="htmlCtrl">
 <head>
   <meta charset="utf-8">
   <title>My {{title}}</title>
   <!--<link rel="stylesheet" href="css/app.css">-->
 </head>
 <body>
    <ul class="menu">
      <li><a href="#/view1">view1</a></li>
      <li><a href="#/view2">view2</a></li>
    </ul>
    <div class="span-19">
	<div id="content">
			</div><!-- content -->
</div>
<div class="span-5 last">
	<div id="sidebar">
		</div><!-- sidebar -->
</div>
    <ng-view></ng-view>

    <div>Angular Require seed app: v<span app-version></span></div>

    <script src="js/require.js?v=2" data-main="js/main.js"></script>
 </body>
</html>
