<style>
    .rr {
        border: 1px solid;
        margin: 15px;
    }
</style>
<div class="loader" ng-show="loader"><div class="loader-content"></div></div>
<div class="rr" ng-repeat="item in items">{{item.title}}</div>