<form class="form-horizontal w350" novalidate ng-submit="submit(credentials)">
  <div class="form-group">
    <label for="inputEmail3" class="col-sm-5 control-label">Email</label>
    <div class="col-sm-5">
        <input ng-model="credentials.email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-sm-5 control-label">Password</label>
    <div class="col-sm-5">
      <input ng-model="credentials.password" type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-10">
      <div class="checkbox">
        <label>
          <input ng-model="credentials.check" type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>